header{
    background-color: rgb(51, 0, 51);
    padding: 10px;
}


header h1 {
    color: rgb(117, 58, 172);
}

.container {
border: solid 2px purple;
width: 40%;
margin: auto;
margin-top: 50px;
border-radius: 10px;
display: flex;
flex-direction:column;


}

.title {

    padding: 10px;
    background-color: rgb(51, 0, 51);
    color:  rgb(117, 58, 172);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}


.container input{
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    
}

#distancia:hover, #tempo:hover{
    background-color: rgb(217, 187, 245);
    
    
}

#velocidade {
background-color: rgb(241, 230, 255);
}
.btn-calculo {
    margin-bottom: 10px;
    margin-left: 10px;
}


.btn-calculo button{
    margin-right: 10px;
}

